@import './colors.scss';

body {
  background-color: $background-color;
}

li {
  list-style-type: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 12px;
  margin: 0 auto;
}

// * {
//   outline: 1px solid red;
// }
