$default-color: #147e45;
$inactive-color: #4f5665;
$primary-color: #0b132a;
$secondary-color: #eeeff2;
$active-color: #1fb765;

$white-color: #fff;
$black-color: #000; // ???
$background-color: #e5e5e5;
