<section class="about-us">
  <div class="container about-us__layout">
    <h2 class="about-us__headline">Чем мы занимаемся?</h2>
    <div class="about-us__thumb"><img src="./images/Illustration 3.svg" alt="" /></div>
    <p class="about-us__description">
      Компания Scientific Equipment занимается разработкой, проектированием и созданием механизмов
      различного назначения. Нашими основными направлениями деятельности являются работы в
      разработке высокотемпературного и вакуумного оборудования, а также механизированные системы с
      высокими требованиями к точности изготовления.
    </p>
    <button type="button" class="about-us__btn">Узнать подробнее</button>
  </div>
</section>
