<footer>
  <div class="container footer">
    <div class="footer__feedback">
      <h2 class="footer__feedback-title">Остались вопросы?</h2>
      <p class="footer__feedback-description">
        Закажите обратный звонок, с вами свяжется менеджер и всё объяснит
      </p>
      <button type="button" class="footer__feedback-btn">Заказать звонок</button>
    </div>

    <div class="footer-wrapearound">
      <a href="#" class="footer__logo"> <span>Scientific</span>Equipment </a>

      <ul class="footer__nav">
        <li class="footer__nav-item"><a href="#">Оборудование</a></li>
        <li class="footer__nav-item"><a href="#">О нас</a></li>
        <li class="footer__nav-item"><a href="#">Политика конфиденциальности</a></li>
      </ul>

      <div class="footer__contacts">
        <h3 class="footer__contacts-heading">Контакты</h3>
        <ul class="footer__contacts-list">
          <li class="footer__contacts-list-item">
            <a href="mailto:scienteq.pro@gmail.com">scienteq.pro@gmail.com</a>
          </li>
          <li class="footer__contacts-list-item"><a href="https://youtube.com">Youtube</a></li>
        </ul>
      </div>

      <p class="footer__copywrite">©2022Geologic</p>
    </div>
  </div>
</footer>
