<button type="button" class="header__close-btn">
  <svg width="16" height="16">
    <use href="./images/svg/Close-btn.svg#close-btn" />
  </svg>
</button>

<ul class="header__nav">
  <li class="header__nav-item"><a href="#" class="header__nav-link">Главная</a></li>

  <li class="header__nav-item">
    Оборудование
    <ul class="header__nav-item-submenu header-submenu">
      <li class="header-submenu__item">
        <a href="#" class="header-submenu__link"
          >Переносной мотобур для отбора ориентированных образцов ПМБ-2б</a
        >
      </li>
      <li class="header-submenu__item">
        <a href="#" class="header-submenu__link">Бак переносной с ручным насосом</a>
      </li>
      <li class="header-submenu__item">
        <a href="#" class="header-submenu__link"
          >Безрезьбовая буровая коронка с алмазным наконечником</a
        >
      </li>
    </ul>
  </li>
  <li class="header__nav-item">
    <a href="#" class="header__nav-link">О нас</a>
  </li>
</ul>

<a href="mailto:scienteq.pro@gmail.com" class="header__contact">scienteq.pro@gmail.com</a>
