<header>
  <div class="container header">
    <nav class="navigation">
      <a href="#" class="navigation__logo"><span>Scientific</span>Equipment</a>
      <ul class="navigation__menu menu">
        <li class="menu__item">Главная</li>
        <li class="menu__item">Оборудование</li>
        <li class="menu__item">О нас</li>
      </ul>
    </nav>
    <a href="mailto:scienteq.pro@gmail.com" class="contact">scienteq.pro@gmail.com</a>
    <ul class="header__language-layout language-layout">
      <li class="language-layout__item">ru</li>
      <!-- <li class="language-layout__item">eng</li>
    <li class="language-layout__item">chi</li> -->
    </ul>
    <button type="menu" class="menu-btn">
      <div></div>
    </button>
  </div>
</header>
