<section class="main-section">
  <div class="container main-section__layout">
    <h1 class="main-section__headline">Профессиональное геологическое оборудование</h1>
    <div class="main-section__thumb"><img src="images/Rectangle 14.jpg" alt="" /></div>
    <form action="" class="main-section__gallery-radiobuttons gallery-radiobuttons">
      <input type="radio" name="gallery-radiobuttons__item" id="1" checked />
      <input type="radio" name="gallery-radiobuttons__item" id="2" />
      <input type="radio" name="gallery-radiobuttons__item" id="3" />
      <input type="radio" name="gallery-radiobuttons__item" id="4" />
    </form>
    <h2 class="main-section__product-name">
      Переносной мотобур для отбора ориентированных образцов ПМБ-2б
    </h2>
    <p class="main-section__product-description">
      Ручной мотобур ПМБ-2б предназначен для отбора геологических, геофизических, геохимических и
      прочих проб, в частности для отбора ориентированных палеомагнитных кернов стандартного
      диаметра.
    </p>
    <ul class="main-section__product-specification product-specification">
      <li class="product-specification__item">Бензиновый двигатель 50 см3</li>
      <li class="product-specification__item">Вес ~5 кг</li>
      <li class="product-specification__item">Габариты 28 × 44 × 34 см.</li>
      <li class="product-specification__item">Система охлаждения водяная.</li>
    </ul>
    <button type="button" class="main-section__product-btn">Купить</button>
  </div>
</section>
