  <section class="recomendations">
    <h2 class="recomendations__headline">С этим товаром покупают:</h2>
    <ul class="recomendations__list">
      <li class="recomendations__list-item">
        <div class="recomendations__product-thumb"><img src="../images/images/20220406_144156.jpg" alt="" /></div>
        <h3 class="recomendations__product-title">Бак переносной с ручным насосом</h3>
        <p class="recomendations__product-description">10-литровый бак для воды с ручным насосом.</p>
        <button type="button" class="recomendations__product-button"></button>
      </li>
      <li class="recomendations__list-item>
        <div class="recomendations__product-thumb"><img src="../images/images/Rectangle 14.jpg" alt="" /></div>
        <h3 class="recomendations__product-title">Безрезьбовая буровая коронка с алмазным наконечником</h3>
        <p class="recomendations__product-description">Буровая коронка из высокопрочной, немагнитной нержавеющей стали</p>
        <button type="button" class="recomendations__product-button"></button>
      </li>
    </ul>
  </section>